html {
    background: radial-gradient(rgb(144, 186, 208), rgb(131, 36, 150));
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 640px;
    font-family: Arial;
    font-weight: bold;
}

.wrapper {
    background-color: rgba(253, 247, 133, 0.4);
    border: 3px solid rgba(0, 0, 0, .9);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px 3px black;
    margin: auto;
    padding: 0 10px 10px 10px;
    height: 520px;
    width: 610px;
    text-align: center;
}

.game-title {
    background: rgba(255, 253, 219, .9);
    border: 1px solid  rgba(0, 0, 0, .75);
    border-bottom: 3px solid;
    border-radius: 0px 0px 24px 24px;
    box-shadow: 0 1px 10px 3px black;
    margin: -2px auto 0;
    height: 65px;
    width: 515px;
    line-height: 65px;
    font-size: 45px;
}

.content-box {
    margin: 20px auto 10px;
}

.choices-box {
    display: flex;
    justify-content: center;
}

#img-rock {
    position: absolute;
    top: 2px;
    left: 4px;
    height: 95px;
    width: 95px;
}

#img-paper {
    position: absolute;
    top: -7px;
    left: 5px;
    height: 102px;
    width: 102px;
}

#img-scissors {
    position: absolute;
    top: -5px;
    left: 4px;
    height: 109px;
    width: 104px;
}

button {
    position: relative;
    background: black;
    border: none;
    border-radius: 100px;
    outline: none;
    margin: 30px;
    height: 100px;
    width: 100px; 
}

button:hover:enabled {
    background: white;
    border: 6px solid black;
    transition: all .2s ease;
    transition-delay: .07s;
    transform: rotate(-30deg);
}

/* why grab id instead of 'button' tags? Ans... */
/* ...some properties dont work when 'button:active'. Not sure why. */
#rock:active, #paper:active, #scissors:active {
    background-color: green;
    border: 2px solid black;
    transition: all .1s ease;
    transform: scale(1.15);
}

button:active > #img-rock, button:active > #img-paper,  button:active > #img-scissors {
    transition: all .05s ease;
    transform: scale(1.2);
}

#rock:active:disabled, #paper:active:disabled, #scissors:active:disabled {
    background-color: gray;
    border: none;
    transition: all .03s ease;
    transform: scale(1.02);
}

button:disabled {
    background-color: gray;
}

button:disabled > img {
    transform: scale(1);
}

.move-reset-score {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#reset {
    background: rgb(255, 97, 97);
    border: 6px solid black;
    color: white;
}

#reset:hover {
    background: red;
    border: 2px solid black;
    font-size: 30px;
    font-weight: bolder;
    transition: all .3s ease;
    transform: scale(1.1);
}

#reset:active {
    background-color: black;
    transition: all .2s ease;
    transform: scale(1.2);
}

#reset > p {
    margin: 0;
}

button#reset {
    margin-top: 10px;
}

.info-box {
    background: rgba(255, 253, 219, .1);
    box-shadow: 0 0 1px 1px black;
    margin-top: -2px;
    padding: 20px;
    height: 90px;
    width: 180px;
    text-align: left;
}

.players {
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
}

.hidden {
    display: none;
}

#winner-box {
    background: rgba(255, 253, 219, .2);
    box-shadow: 0 0 1px 1px black;
    margin: 10px auto;
    padding: 5px;
    height: 45px;
    width: 590px;
}

footer {
    font-weight: normal;
    text-align: center;
    position: fixed;
    bottom: 5px;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 770px) {
    html {
        background-repeat: repeat;
    }

    .wrapper {
        margin-top: 45vh;
        margin-bottom: 10vh;
    }
}